{% extends 'layout.html' %}
{% block title %}Frequently Asked Questions{% endblock %}
{% block body %}
  <h2>Frequently Asked Questions</h2>
  <dl class=qa>
    <dt>What's the purpose of this website?
    <dd>
      <p>
        We've released a few weeks ago <a href="http://www.nuxeo.com/en/about/news/nuxeo-releases-new-version-of-open-source-document-management-software">Nuxeo EP 5.4.2</a>, a new major version of the Nuxeo open source document platform. 
      <p>
        We think we did a good work with this release, and hope you are happy with it, but we need your feedback to keep improving what you think are the great features of Nuxeo, and to fix its current shortcomings.
      <p>
        So please take a minute to fill this simple, non-formal, survey.        
      <p>
        Inspired by the Mozilla and Flask projects, and of course by the success of microblogging platforms such as Twitter, we're experimenting with this new tool to see if we can collect valuable feedback from our community.

    <dt>Why is this not on the main Nuxeo community website?
    <dd>
      <p>
        For the very simple reason that this is an experiment on its own and
        might be shut down without further notice.  We haven't done anything
        like that before and are not yet sure about the consequences.

    <dt>Will you censor here?
    <dd>
      <p>
        Unless hateful comments or spam end up on this website we will not
        remove any of them.  The raw data is available for everyone who is
        interested.

    <dt>Why does this website require JavaScript?
    <dd>
      <p>
        For the very simple reason that we currently use JavaScript as a simple
        method of preventing spam.  At least that is the motivation, if the
        efforts pay off we can't say yet.

    <dt>Is the source of this website available?
    <dd>
      <p>
        Indeed it is.  You can download it from github:<br>
        <a href=http://github.com/mitsuhiko/flask-feedback>mitsuhiko/flask-feedback</a>
  </dl>
{% endblock %}
